* {
  cursor: none;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

cursor {
  background-image: url("cursor.png");
  background-size: 12px;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  pointer-events: none;
}

button {
  border: none;
  background-color: #a800c9;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 2em;
  color: white;
  user-select: none;
  display: block;
  margin: auto;
  margin-top: calc(50vh - 10px);
}


button {
  animation: marquee 10s infinite;
}

@keyframes marquee {
  0% { transform: translate(-200px, 0) }
  50% { transform: translate(200px, 0) }
  100% { transform: translate(-200px, 0) }
}